html {
    font-size: 1em;
}

body {
    margin: 20px;
    color: Navy;
    background-color: AliceBlue;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    color: darkblue;
    border-left: medium ridge dodgerblue;
    border-bottom: medium ridge dodgerblue;
    font-size: 1.5rem;
}

.default {
    border-collapse: collapse;
    border-spacing: 0;
    td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 0;
        //Instead of the line below you could use @include word-break($value)
        word-break: normal;
    }
    th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 0;
        //Instead of the line below you could use @include word-break($value)
        word-break: normal;
    }
    .cell_color_space {
        color: #00d2cb;
        text-align: right;
        vertical-align: middle;
    }
    .cell_single_value {
        color: #32cb00;
        text-align: right;
        vertical-align: middle;
    }
    .cell_color_name {
        background-color: #9698ed;
        color: #ecf4ff;
        text-align: center;
        vertical-align: middle;
    }
    .row_title {
        background-color: #cbcefb;
        color: #343434;
        text-align: center;
        vertical-align: middle
    }
    .cell_rawspan {
        text-align: left;
        vertical-align: middle;
    }
}